	<nav class="fh5co-nav" role="navigation">
		<div class="container-wrap">
			<div class="top-menu">
				<div class="row">
					<div class="col-xs-2">
						<div id="fh5co-logo"><a href="/index.html">{{ SITENAME }}</a></div>
					</div>
					<div class="col-xs-10 text-right menu-1">
						<ul>
							<!-- <li class="active"><a href="index.html">Home</a></li> -->
							<!-- <li><a href="work.html">Work</a></li> -->
							<li class="has-dropdown">
								<a href="categories.html">Categories</a>
								<ul class="dropdown">
								{% for category in categories %}
									<li><a href="/{{ category.0.url }}">{{ category.0 }}</a></li>
				                                {% endfor %}
								</ul>
							</li>
							<li><a href="/pages/about.html">About</a></li>
							<li><a href="contact.html">Contact</a></li>
						</ul>
					</div>
				</div>

			</div>
		</div>
	</nav>

